<% if job_comment.present? %>
  <% job_comment.reverse_each do |c|%>
    <div class="d-flex flex-row gap-2 align-items-center w-100">
      <% if c.user.profile_photo.attached? %>
        <%= image_tag c.user.compressed_profile_photo, class: 'rounded-circle avatar-image comment-avatar' %>
      <% else %>
        <div class="default-profile-picture small-default-profile">
          <i class="fas fa-user "></i>
        </div>
      <% end %>
      <span><%= c.content %></span>
    </div>
  <%end%>
<% else%>
  <div class="list-container gap-0">
    <p class="text-no-connection">No comments till now</p>
  </div>
<% end %>
