<% if comment.present? %>
  <div class="d-flex flex-row align-items-center">
    <% comment.first(3).each do |comment| %>
      <% if comment.user.profile_photo.attached? %>
        <div class="photo-container">
          <%= image_tag comment.user.compressed_profile_photo, class: 'rounded-circle avatar-image comment-avatar post-comment' %>
        </div>
      <% else %>
        <div class="default-profile-picture small-default-profile post-comment">
          <i class="fas fa-user"></i>
        </div>
      <% end %>
    <% end %>
    <% if comment.size > 3 %>
      <div class="more-photos align-self-center">
        <% if comment.size == 4%>
          <span class="align-items-center extra me-1"><%= "+ 1 Comment" %></span>
        <%else%>
          <span class="align-items-center extra me-1"><%= "+ #{comment.size - 3} Comments"%></span>
        <%end%>
      </div>
    <% end %>
  </div>
<% end %>
