<%=  render 'shared/navbar'%>
<div class="container">
  <div class="d-flex flex-column gap-1 profile1">
    <div class="connection-request-header">
      <span class="title-header">Jobs you created</span>
      <% if @job_requirements.any? %>
        <span class="pending-requests-count">
          <span class="count-text"><%= @job_requirements.count %></span>
        </span>
      <% end %>
    </div>
    <hr class= "line-break">
    <div class= "list-container align-items-start ">
      <% if @job_requirements.any? %>
        <% @job_requirements.reverse_each do |job_requirement| %>
          <%= render 'job_requirements', job_requirement: job_requirement %>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
