<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Job Application</h1>
    <p>Hello <%= @user_creating_name %>,</p>
    <p>You have received a job application from <%= @applicant_name %> (<%= @applicant_email %>). Please find attached their CV.</p>
    <p>Best regards,</p>
    <p>Your Company</p>
  </body>
</html>
