<div class="position-relative">
  <div data-bs-toggle="dropdown" aria-expanded="false" class=" d-flex dropdown-toggler">
    <div class="overflow-hidden d-flex justify-content-center align-items-center gap-1">
      <div class="default-profile-picture" id="not-icon-back" >
        <span class="material-symbols-outlined text-dark" id= "not-icon">
          notifications
        </span>
      </div>
    </div>
  </div>
  <ul class="dropdown-menu dropdown-menu-end p-2 notification-container">
    <div id="notification-container" data-currentuserid="<%= current_user.id %>"></div>
    <% notifications.each do |notification| %>
      <div class= "notification text-dark"> <%= notification.body %></div>
    <% end %>
  </ul>
</div>
