<div class="d-flex justify-content-between align-items-center">
  <h2>Root Page</h2>



  <div>
    <% if current_user %> Logged in as <%= current_user.email %>
        <%= link_to "Logout" , logout_path, method: :delete, class:"btn btn-danger btn-lg ms-2" %>
          <% else %>
            <%= link_to "Register" , signup_path , class:"btn btn-secondary btn-lg me-3" %>
              <%= link_to "Login" , login_path , class:"btn btn-primary btn-lg" %>


                <%end%>
  </div>
</div>