<div class="container mt-4">
  <h1 class= "mb-3"> Create Post</h1>
  <%= form_with(model: [@user, @post], class: 'form') do |form| %>
    <%= form.text_area :content, class: 'form-control pt-4 text_area', placeholder: 'What\'s on your mind?' %>
    <%= form.submit 'Create Post', class: "btn  full-btn btn-primary w-100 mt-3" %>
  <% end %>
</div>
