.card_css {
  width: 50%;
  margin-inline: auto;
}

.contain {
  height: 100vh;
}


#AboutUs {
  position: relative;
  margin-inline: auto;
  text-align: center;


  margin-bottom: 2rem !important;
  margin-top: 1rem;
  font-size: 2rem;
  color: #dddede;
  display: block;


}

#AboutUs::before {
  content: " ";
  height: 1px;
  width: 16rem;
  background: #dddede;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;

}

#AboutUs::after {
  content: " ";
  height: 1px;
  width: 16rem;
  background: #dddede;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;

}