

.notification-container-flash {
  position: fixed;
  bottom: 0px !important;
  left: 0px !important;
  margin: 0;
  z-index: 9999;
  width: 100%;
}

.notification-flash {
  width: 100% !important;
  padding: 1rem;
  text-align: center;
  margin: 0;
}


.messagenotice {
  background-color: #e1f0e8;
  color: #238636;
}

.messagealert {
  background-color: #f8e6e6; 
  color: #b31c1c;
}


