
.dropdown {
  width: 3rem;
  height: 3rem;
}

.avatar-image {
  border: 1px solid #0000002d;
  width: 3rem;
  height: 3rem;
}


.dropdown-menu {
  margin-top: 0.5rem !important;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.10);
  --bs-dropdown-border-color: white !important;
  --bs-dropdown-link-active-bg: var(--bs-tertiary-bg) !important;
}

.dropdown-divider {
  border-top: 1px solid var(--depth-color, #F3F3F3) !important;
}

.dropdown-header {
  font-size: 1rem !important;
}

.dropdown-header>span {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}

.dropdown-item>a {
  text-decoration: none !important;
  color: Black;

  width: 100% !important;
  display: inline-block;

}

button>a {
  text-decoration: none !important;
  color: white !important;
}

.name-link {
  text-decoration: none;

  color: black;
}

.name-link:hover {
  color: #0d6efd;
}


.skill-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skill-chip {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #e4e4e4;
  border-radius: 16px;
  font-size: 14px;
  color: black;


}

.table {
  --bs-table-hover-bg: rgb(0 0 0 / 3%) !important;
}

.nav-menu{
  display: flex;
  align-items: flex-start;
  gap: 2.3125rem;
}

.others, .current{
  color: #858591;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

.current{
  color: #0d6efd;
}

.others:hover{
  color: black;

}

.table-bg{
  background-color: white;
  border-radius: 12;
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  -ms-border-radius: 12;
  -o-border-radius: 12;
}


.search-field{
  background-color: #F3F3F3 !important;
  border: none !important;
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.Heading{
  color: #858591;
  margin-bottom: 1rem !important
}


.no-focus:focus {
  outline: none !important; /* Remove the default focus outline */
  box-shadow: none !important; /* Remove any focus box shadow */
}

.search{
  color: #858591;
}

.search-field::placeholder{
  color: #858591;

}


.notification{
  text-align: start;
}

.notification:hover{
  background-color: #F3F3F3;
  border-radius: 0.15rem;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  -ms-border-radius: 0.15rem;
  -o-border-radius: 0.15rem;
}

.notification-container {
  width: 15rem;
  max-height: 20rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.notification-container::-webkit-scrollbar {
  width: 0px;
}


.blue{
  background-color: #0d6efd !important;
}
