<div class="job_role_fields">
  <%= form.fields_for "job_roles[]", job_role do |role_form| %>
    <div class="mb-3">
      <%= role_form.label :name, "Job Role" , class: 'form-label'%>
      <%= role_form.text_field :name , class: 'form-control' %>
    </div>
  <% end %>
</div>
