<%= render 'shared/navbar' %>
<div class="container">
  <%= link_to 'New Job Sector and Roles', new_admin_job_sector_path, class: "btn full-btn btn-primary w-100 mb-4" %>
  <%= render 'job_sector' %>
</div>
